<header class="container">
   <a href="#">
     TEST
   </a>
   <nav>
      <ul class="flex gap-10 font-semibold text-sm">
         <li>
            <a href="/" class="{{ 'text-purple-700' if url === 'home' }}">Home</a>
         </li>
         <li>
            <a href="/about" class="{{ 'text-purple-700' if url === 'about' }}">About</a>
         </li>
      </ul>
   </nav>
</header>
